@import "../../../../../styles/responsive.scss";

.weather-day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 45vw;
    height: 45vw;
    margin-block-end: 2vw;
    background-color: #98b9d1;
    color: white;
    opacity: 0.8;

    &.is-night {
        background-color: #51575c;
    }

    @include md {
        width: 10rem;
        height: 12rem;
    }

    .day {
        font-weight: bold;
        font-size: 6vw;

        @include md {
            font-size: 30px;
        }
    }

    .degrees {
        margin-block-start: 4vw;
        color: #ffc107;
        font-weight: bold;
        font-size: 4vw;

        @include md {
            margin-block-start: 16px;
            font-size: 16px;
        }
    }

    .description {
        text-align: center;
        font-size: 4vw;
        @include md {
            font-weight: bold;
            margin-block-start: 16px;
            font-size: 16px;
        }
    }
}

