@import "../../../../styles/responsive.scss";

.favorite-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
    overflow-y: scroll;

    @include md {
        flex-wrap: wrap;
        flex-direction: row;
        height: unset;
        overflow-y: unset;

        margin-inline-end: 10px;
    }
}